*{
    padding:0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Jost', sans-serif;
}
.container {
    max-width: 1200px !important;
}
.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 34px;
    font-weight: 600;
    text-transform: capitalize;
    color: #189a46;
}
.navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 1.2em;
    font-weight: 400;
    position: relative;
    color: black;
    padding: 0;
} 
.nav-item {
    padding: 0 10px;
}
li .btn-search {
    background: rgba(147, 107, 232, 0.05);
    font-size: 16px;
    line-height: 45px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    padding: 0;
    text-align: center;
    color: var(--primary-color);
    display: inline-block;
    border: none;
}
#site-header{
    display: flex;
    align-items: center;
    height: 90px;
    padding: 0;
}
.pop-overlay {
     position: fixed;
     top: 0px;
    left: 0;
     right: 0;
     transition: opacity 0ms;
     visibility: hidden;
    opacity: 1;
    z-index: 99;
    background: #000000ba;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 100%;
}
.seach-popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}
.search-popup form button {
    font-size: 17px;
    line-height: 28px;
    text-align: center;
    color: #F5F9FC;
    font-weight: 500;
    border: none;
    background:#189a46;
    padding: 0 25px;
    border-left: none;
    border-radius: initial;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
#navbarNavDropdown .dropdown-toggle::after {
   display: none;
}
#navbarNavDropdown .dropdown::after {
    position: absolute;
    right: 3px;
    top: 9px;
    display: inline-block;
    content: "\f107";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    color: #999;
    font-size: 12px;
}
.search-popup form input{
    /* font-style: normal;
    font-weight: normal; */
    font-size: 16px;
    line-height: 25px;
    color: #000;
    height: 55px;
    padding: 15px 20px 12px;
    width: 100%;
    border: 1px solid #d6d6d6;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    border-right: none;
}
.search-popup form input {
    outline: 0;
}
.search-popup {
    position: relative;
    margin: 0rem auto;
    padding: 15px;
    top: 50%;
    max-width: 600px;
}
.search-popup .close {
    position: absolute;
    right: 20px;
    top: -50px;
    transition: all 200ms;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}
.seach-popup .close:hover {
    color: #fff;
    text-decoration: none;
}
/* carousel */
.carousel .banner__view {
    background: url("./img/banner1.png");
    background-size: cover;
    min-height: 100vh;
}
.carousel  .top2{
    background: url("./img/banner2.jpg");
    background-size: cover;
}
.carousel li {
    list-style-type: none;
}
.owl-theme .owl-dots {
    margin-top: 0px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 30px;
   
}

.owl-theme .owl-dots .owl-dot.active span {
    background: #189a46;
    width: 30px;
    height: 10px;
    opacity: 0.9;
}
.owl-theme .owl-dots .owl-dot:hover span {
    background: #189a46;
    width: 30px;
    height: 10px;
    opacity: 0.9;

}

.carousel .banner__view::before {
    content: "";
    position: absolute;
    top: 0;
    min-height: 100%;
    left: 0;
    right: 0;
    z-index: 0;
    background-color: #0c0c0c;
    opacity: .6;
}
.banner-infor p {
    font-size: 1.2rem;
    margin-bottom: 0;

}
.btn-white {

    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: all 0.3s;
    background-color: #fff;
    color: #189a46;
    border: 2px solid transparent;
    margin-right: 10px;
    
}
.owl-theme .owl-dots .owl-dot span {
    background: #fff ;
} 
.btn {
    margin-top: 3rem;
}
.banner__infor {
    position: absolute;
    top:20%;
    left:5%;
    z-index: 10;
}
.btn-boder:hover {
    background-color: white;
    color: #189a46;
}
.btn-white:hover {
    color: #189a46;
}
.top2 .banner__infor,.top4 .banner__infor {
    left:40% ;

}

.carousel .banner-infor h5 {
    font-size: 66px;
    line-height: 76px;
    font-weight: 700;
    color: #fff;
    text-transform: capitalize;

}
.carousel .banner-infor {
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 30px;

}
.btn-boder {
    border: 2px solid white;
    color: #fff;
   
}
.btn-style {
    padding:12px 25px;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
    font-weight: 400;
    transition: 0.3s;
    border-radius: 10px;
    
}
.owl-theme button {
   
}
button:focus {
    outline: 0;
}
/* about us */


.about__content {
    max-width: 700px;
    margin: auto;
}
.title {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color:#f53626;
}
.about__content h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.about__content p {
    font-size: 1.2em;
    line-height: 28px;
    color: #696969;
}
.about__content a {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    border-bottom: 2px solid #189a46;
    transition: all 0.3s;
}
.about__content a:hover {
    color: #189a46;
    text-decoration: none;
}
/* pets care */
.petscaring {
    background-color: rgba(147, 107, 232, 0.05);
}
.features {
    margin-top: 30px;
    
}
.box {
    background-color: white;
    padding:40px 30px;
    border-radius: 10px;
    transition: all 0.5s;
}
.box:hover {
    background-color: rgba(147, 107, 232, 0.05);
}
.icon i {
    color: #189a46;
    font-size: 30px;
}
.box h4 a {
    color: #000;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
    font-weight: 600;
    display: block;
    transition: all 0.3s;
}
.box p {
    font-size: 1.2rem;
    line-height: 28px;
    color: #696969;

}
.box>a {
    font-size: 17px;
    color: #000;
    font-weight: 600;
    margin-top: 20px;
    display: inline-block;
    border-bottom: 2px solid #189a46;
    transition: all 0.3s;
}
.box a:hover {
    color: #189a46;
    text-decoration: none;
}
/* gallery */
.gallery__content h6 {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 2em;
    letter-spacing: 1px;
    color:#f53626;

}
.glr__img img{
    border-radius: 10px;
    overflow: hidden;
}
.gallery__content h3 {
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    text-transform: capitalize;
}
.gallery__content p {
    font-size: 1rem;
    line-height: 24.5px;
    margin: 15px 0 35px 0 ;
    color: #696969;
}
.glr__text ul li {
    list-style-type: none;
    line-height: 26px;
    font-weight: 600;
    margin: 15px 0;
    font-size: 16px;
}
.glr__text ul li i  {
    padding: 8px;
    background-color: rgba(147, 107, 232, 0.05);
    color: #189a46;
    border-radius: 50%;
    margin-right: 12px;
    font-size: 12px;
    font-weight: 600;
}
.number {
    background-color: #189a46;
}
.number__content p {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    margin-top: 30px;
    margin-bottom: 0;
}
.number__content h4 {
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #fff;
    margin-top: 10px;
    opacity: 0.8;
    font-weight: 400;
}